<!-- templates/hba.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBA Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>HBA Information</h1>
    <img src="{{ url_for('static', filename='hba1.png') }}" alt="HBA Image 1" class="responsive-img">
    <p>LeapIO D405 HBA Controller -16i/-16e</p>
    <img src="{{ url_for('static', filename='hba2.png') }}" alt="HBA Image 2" class="responsive-img">
    <p>LeapIO D405 HBA Controller -16i</p>
    <img src="{{ url_for('static', filename='hba3.png') }}" alt="HBA Image 3" class="responsive-img">
    <p>LeapIO D406 HBA Controller -16i</p>
</div>
</body>
</html>

